@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");



body {
  font-family: "Open Sans", sans-serif !important;
  /*background-color: black;*/
  color: white;
}
.borderTest {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  min-height: 100%;
  border: solid 1px #dce3e5;
}
.backgorund {
  border: solid 1px #343a40;
}

combo-box-demo{
  background: white;
}