@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

html,
body{
  height: 100%;
  background-color: black;
  font-family: "Open Sans", sans-serif !important;
  color: white;
}
input, input::-webkit-input-placeholder {
  background: white !important;
  color: black !important;
}
label{
  color:rgb(121, 235, 255) !important;
  z-index: 1;
  font-size: 13px !important;
  margin-left: 5px ;
  align-items: center;
}


.navbar{
  background-color: #032541 !important;
  /*background: rgb(121, 235, 255) !important;*/

}
/*.navbar-dark .navbar-nav .nav-link ,.navbar-dark .navbar-brand{*/
/*  color: black !important;*/
/*  font-weight: 600;*/
/*}*/


/*@media screen and (max-width: 480px) {*/
/*  .navbar{*/
/*    font-size: 10px;*/
/*  }*/
/*}*/
