@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");



body {
  font-family: "Open Sans", sans-serif !important;
  /*background-color: black;*/

}
.navbar{
  background-color: #032541 !important;
}
.boxnovies{
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

@media screen and (max-width: 480px) {
  .navbar{
    font-size: 10px;
  }
}
